@page "/fetchdata"
<style>
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        color: green;
    }
    .bold {
        margin-top: 50px;
        margin-bottom: 50px;
        font-weight: 700;
    }

    .products {
        text-align: center;
    }

    #kraft {
        margin: 50px 15px 50px 15px;      
        min-height: 50px;
        background-size: inherit;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;
    }
    

    #motor {
        margin-top: 50px;
    }
    #ex{
        margin: 5px;
        border: 1px hidden;
        border-radius:5px;
    }
    #teile{
        margin-top: 50px;
       
    }
    #kunden{
        margin-top: 50px;
    }
    #logo {
        width: 295px;
        height: 70px;
        margin-bottom: 50px;
        padding: 0;
        margin: 0;
    }
    #footer {
        width: 100%;
        height: 70px;
        background-color: green;
        color: white;
        text-align: center;
        padding: 20px;
        border-radius: 5px;
        font-family: 'Fira Sans', sans-serif;
        margin-top: 50px;
    }

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
            text-decoration: underline;
            color: white;
     }
   
</style>


<header>
    <img id="logo" src="https://th.bing.com/th/id/R.b5baaa940d6a2b16ab49de45ef8a45d1?rik=VJoMj2No9OeJ6g&riu=http%3a%2f%2fsar-anlagenbau.de%2fwordpress%2fwp-content%2fthemes%2fagency%2fthemify%2fimg.php%3fsrc%3dhttp%3a%2f%2fsar-anlagenbau.de%2fwordpress%2fwp-content%2fuploads%2fmontaplast.gif%26w%3d670%26h%3d&ehk=Ujue7pkoRRJE8m9Qcki%2bs9NFyHFH5Qp7r14H3lXAZcE%3d&risl=&pid=ImgRaw&r=0" />
</header>

<h1>Unsere Produkte</h1>
<br />
<hr />
<h3>Innere & Äußere Werte </h3>
<article>
    <section class="bold">
        Autos können immer mehr. Sie werden immer, besser, vielseitiger und sicherer.<br />
        Mit hochwertigen innovativen Kunststoff-Systemen für Motorraum, Exteriör und<br />
        Interieur trägt Montaplast zum Fortschritt bei<br />
    </section>
    <section class="products">
        In Kunststoff steckt das Wort Kunst. Unsere Kunst ist es, Autos fit zu machen für die steigenden Anforderungen an Sicherheit,<br />
        Stabilität, Haltbarkeit, Umweltverträglichkeit, Design und Komfort. Dass das Auto von morgen so viel mehr kann als das Auto von gestern,<br />
        ohne durch die neuen Elemente schwerer oder instabiler zu werden, hat viel mit Montaplast zu tun:<br />
        Wir arbeiten daran, dass Baugruppen aus Metall durch moderne Kunststoffe ersetzt und möglichst viele Funktionen integriert werden können.<br />
        Mit Hilfe neuester Verfahrens- und Werkstofftechnologien entwickeln wir temperatur- und druckbeständige, funktions-, kosten- und gewichtsoptimierte Module<br />
        für die Fahrzeuge der Zukunft.<br />

        All das ist heute Montaplast. Das Herz aller Systeme "Made by Montaplast" sind dabei nach wie vor qualitativ hochwertige Kunststoffteile.
    </section>
</article>
<section id="motor">
    
    <h3>Patentierte Kraft: der Motorraum </h3>
    Mit Ölwannen, Motorabdeckungen, Luftfiltern, Ladeluftverteilerleitungen, Resonatoren oder Zylinderkopfhauben höchster Qualität hat sich Montaplast einen Namen gemacht.<br />
    Wer "Montaplast" hört, denkt oft aber erst einmal an ein ganz spezielles Produkt: das Ansaugrohr.<br />
    Der Grund: Viele der zahlreichen Patente, die Montaplast besitzt, sind mit dem Ansaugbereich verbunden.<br />
    Weil wir Kunststoffen hier zum Durchbruch verholfen haben,<br />
    halten moderne Ansaugrohre bei geringerem Volumen und Gewicht höheren Hitze- und Druckbelastungen stand und erfüllen immer mehr Funktionen.<br />


    <img src="https://www.montaplast.com/fileadmin/_processed_/csm_img_0318_e64beb2d11.jpg" id="kraft" alt="...">
    <img src="https://www.montaplast.com/fileadmin/_processed_/csm_img_9854_b7ed4ad9fd.jpg" id="kraft" alt="...">
    <img src="https://www.montaplast.com/fileadmin/_processed_/csm_img_9953_wide_f1f47aed1f.jpg" id="kraft" alt="..."><br />

    <img src="https://www.montaplast.com/fileadmin/_processed_/csm_visual_motorraum_c7c4a48645.jpg" class="img-fluid" alt="Unsere Komponenten im Motorraum">


    <h3>Scharfe Optik: das Interieur</h3>
    Edel und harmonisch soll er wirken, der Innenraum eines Fahrzeugs.<br />
    An Säulen- und Kofferraumverkleidungen, Overhead-Konsolen, Lautsprechergitter,<br />
    Ladekantenabdeckungen oder Entlüftungsgitter werden hohe optische Anforderungen gestellt. <br />
    Auch nach fünf oder zehn Jahren sollte das Ambiente noch stimmen, und leise muss es sein. <br />
    Wir wissen das: Die von uns hinterspritzten Textilien, Leder und Folien bewahren dank hochwertiger Verarbeitung ihr Erscheinungsbild. <br />
    Speziell entwickelte Klebstoffsysteme sorgen für eine schadstoffarme Atmosphäre, und was sich hinter den Kulissen abspielt,<br />
    ist vom Komfort gewohnten Passagier kaum noch zu ahnen. Nur ein Hinweis:<br />
    Energieabsorber und Luftführungen integriert Montaplast selbstverständlich in die Verkleidung.<br />
    
    <img src="https://www.montaplast.com/fileadmin/_processed_/csm_img_0169_104b14ec20.jpg" id="kraft" alt="...">
    <img src="https://www.montaplast.com/fileadmin/_processed_/csm_img_0120_b66f0eb673.jpg" id="kraft" alt="...">
    <img src="https://www.montaplast.com/fileadmin/_processed_/csm_img_0592_0199_9137ab74d8.jpg" id="kraft" alt="...">
    <br />

    <img src="https://www.montaplast.com/fileadmin/_processed_/csm_visual_interieur_01_2d8962a8f2.jpg" class="img-fluid" alt="Unsere Komponenten im Innenraum des Fahrzeugs">

    <h3>Starke Außenwirkung: das Exterieur</h3>
    Auch als Lieferant für Exterieur-Systeme ist Montaplast ein fester Begriff -<br />
    und das nicht erst seit dem Bau unserer aktuellsten, zukunftsweisenden Lackieranlage.<br />
    Die Module, die Montaplast fertigt, werden seit Jahren immer größer und komplexer:<br />
    lackierte Stoßfänger-, Front- und Hecksysteme, Kotflügel, Spoiler, Säulen- und Längsträgerverkleidungen,<br />
    Seitenschutz- und Griffleisten, Wasserabscheidungen, verchromte Kühlerschutz- und Lufteinlassgitter ... <br />
    Erstaunlich, wie viel Montaplast heute in einem einzigen Auto stecken kann - schon rein äußerlich.<br />

   <div id="teile">
    <img src="https://www.montaplast.com/fileadmin/_processed_/csm_img_0304_085a5dbff7.jpg" id="ex" alt="...">
    <img src="https://www.montaplast.com/fileadmin/_processed_/csm_img_0450_345159b564.jpg" id="ex" alt="...">
    <img src="https://www.montaplast.com/fileadmin/_processed_/csm_img_0156_b3d9220f5e.jpg" id="ex" alt="..."><br />

    <img src="https://www.montaplast.com/fileadmin/_processed_/csm_img_9950_8cf6b58f7f.jpg" id="ex" alt="...">
    <img src="https://www.montaplast.com/fileadmin/_processed_/csm_img_0277_wide_bc9857a4d9.jpg" id="ex" alt="...">
    <img src="https://www.montaplast.com/fileadmin/_processed_/csm_img_0098_264c6b87f3.jpg" id="ex" alt="..."><br />
</div>
    <img src="https://www.montaplast.com/fileadmin/_processed_/csm_visual_exterieur_a0829b7275.jpg" class="img-fluid" alt="Unsere Teile der Karosserie">

</section>

<section id="kunden">

    <h3>Unsere Kunden</h3>
    <br />
    <img src="https://www.montaplast.com/fileadmin/_migrated/pics/logo_audi.jpg" id="ex" alt="Audi">
    <img src="https://www.montaplast.com/fileadmin/_migrated/pics/logo_bmw.jpg" id="ex" alt="BMW" />
    <img src="https://www.montaplast.com/fileadmin/_migrated/pics/logo_chrysler.jpg" id="ex" alt="Chrysler"><br />

    <img src="https://www.montaplast.com/fileadmin/_migrated/pics/logo_daimler.jpg" id="ex" alt="Daimler">
    <img src="https://www.montaplast.com/fileadmin/_migrated/pics/logo_dodge.jpg" id="ex" alt="Dodge">
    <img src="https://www.montaplast.com/fileadmin/_migrated/pics/logo_ford.jpg" id="ex" alt="Ford"><br />

    <img src="https://www.montaplast.com/fileadmin/_migrated/pics/logo_gm.jpg" id="ex" alt="GM">
    <img src="https://www.montaplast.com/fileadmin/_migrated/pics/logo_mercedes-benz.jpg" id="ex" alt="Mercedes Benz">
    <img src="https://www.montaplast.com/fileadmin/_migrated/pics/logo_nissan.jpg" id="ex" alt="Nissan"><br />

    <img src="https://www.montaplast.com/fileadmin/_migrated/pics/logo_opel.jpg" id="ex" alt="Opel">
    <img src="https://www.montaplast.com/fileadmin/_migrated/pics/logo_porsche.jpg" id="ex" alt="Porsche">
    <img src="https://www.montaplast.com/fileadmin/_migrated/pics/logo_saab.jpg" id="ex" alt="Saab"><br />

    <img src="https://www.montaplast.com/fileadmin/_migrated/pics/logo_smart.jpg" id="ex" alt="Smart">
    <img src="https://www.montaplast.com/fileadmin/_migrated/pics/logo_volvo.jpg" id="ex" alt="Volvo">
    <img src="https://www.montaplast.com/fileadmin/_migrated/pics/logo_vw.jpg" id="ex" alt="VW"><br />
</section>




<footer id="footer">
    <a href="#"> &copy; 2009-2016 Montaplast GmbH </a>|<a href="#">info (at) montaplast.com</a>  | <a href="/impressum" target="_blank">Impressum</a>
    |<a href="/daten" target="_blank"> Datenschutz</a> 
</footer>
@code {

}
