@page "/group"

<style>
    #stulz {
        float: right;
        border: 1px hidden;
        border-radius: 5px;
        margin-top: -250px;
        
    }

    #gesellschaften {
        list-style:none;
    }

    #group {
        text-align: center;
        margin-top: inherit;
    }

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        color: green;
        margin-top:25px;
    }

    #logoStulz {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: inherit;
        height: auto;
        margin-bottom: 50px;
    }

    #logo {
        width: 295px;
        height: 70px;
        margin-bottom: 3vw;
        padding: 0;
        margin: 0;
        background-color: white;
    }


    #info {
        text-align: center;
    }
    h3{
        margin-bottom:25px;
    }
    footer {
        width: 100%;
        background-color: green;
        color: white;
        text-align: center;
        padding: 20px;
        border-radius: 5px;
        font-family: 'Fira Sans', sans-serif;
        margin-top: 50px;
       
    }

    a {
        color: white;
        text-decoration: none;
    }

   a:hover {
            text-decoration: underline;
            color: white;
    }
    #group {
        text-align: center;
        margin-top: inherit;
        margin-bottom: 50px;       
    }
    .rounded{
        margin-top:25px;
    }
   
</style>
<header>
    <img id="logo" src="https://th.bing.com/th/id/R.b5baaa940d6a2b16ab49de45ef8a45d1?rik=VJoMj2No9OeJ6g&riu=http%3a%2f%2fsar-anlagenbau.de%2fwordpress%2fwp-content%2fthemes%2fagency%2fthemify%2fimg.php%3fsrc%3dhttp%3a%2f%2fsar-anlagenbau.de%2fwordpress%2fwp-content%2fuploads%2fmontaplast.gif%26w%3d670%26h%3d&ehk=Ujue7pkoRRJE8m9Qcki%2bs9NFyHFH5Qp7r14H3lXAZcE%3d&risl=&pid=ImgRaw&r=0" />
</header>


<h1> Stulz Gruppe</h1>
<br />
<h3>STULZ, das ist Vertrauen in eine starke Gemeinschaft.</h3>

<aside>
    <a href="https://www.stulz.de/de/" target="_blank"><img src="https://www.montaplast.com/fileadmin/_processed_/csm_STULZLogoRGB_41d0222051.jpg" id="logoStulz" alt="Logo der STULZ-Group"  /></a>
</aside>
<section id="group">
    <h3>Auf der ganzen Welt zuhause</h3>
    <h4>Montaplast - ein Unternehmen der STULZ-Gruppe</h4>
    Gegründet 1947 in Hamburg, ist STULZ heute in mehr als 110 Ländern präsent. Zur STULZ-Gruppe gehören STULZ Tochtergesellschaften in 14 Ländern,
    7 Produktionsstätten in Europa, USA, Indien und China und mehr als 100 exklusive Verkaufs- und Servicepartner auf allen Kontinenten.
    Das Familienunternehmen wird durch Albert und Jürgen Stulz geführt.

    Das Schwesterunternehmen, die STULZ GmbH, hat sich auf die Entwicklung und Herstellung von Präzisionsklimasystemen für Rechenzentren und
    Telekommunikation spezialisiert. Auf der ganzen Welt können Klimasysteme made by STULZ sensible Informations- und Kommunikationstechnologie
    in Rechenzentren und Mobilfunkstationen sichern und garantieren maximale Verfügbarkeit bei minimalem Energieeinsatz.
    Darüber hinaus kommen Präzisionsklimasysteme und Kaltwassererzeuger von STULZ in der Industrieproduktion und in der Medizin zum Einsatz.
    <br />
</section>

<h3>Geschichte und allgemeine Informationen</h3>
<p id="info">
    Gegründet 1947 in Hamburg, ist STULZ heute in mehr als 110 Ländern präsent. <br />
    Zur STULZ-Gruppe gehören STULZ Tochtergesellschaften in 14 Ländern,<br />
    7 Produktionsstätten in Europa, USA, Indien und China <br />
    und mehr als 100 exklusive Verkaufs- und Servicepartner auf allen Kontinenten.<br />
    Das Familienunternehmen wird durch Albert und Jürgen Stulz geführt.<br />

    Das Schwesterunternehmen, die STULZ GmbH, hat sich auf die Entwicklung <br />
    und Herstellung von Präzisionsklimasystemen für Rechenzentren und Telekommunikation spezialisiert. <br />
    Auf der ganzen Welt können Klimasysteme made by STULZ sensible Informations- und Kommunikationstechnologie <br />
    in Rechenzentren und Mobilfunkstationen sichern und garantieren maximale Verfügbarkeit bei minimalem Energieeinsatz. <br />
    Darüber hinaus kommen Präzisionsklimasysteme und Kaltwassererzeuger von STULZ in der Industrieproduktion und in der Medizin zum Einsatz.<br />

</p>
<br />
<section >
    <h4>Tochtergesellschaften der STULZ-Gruppe</h4>
    <hr />
    <strong>STULZ-GmbH, Klimasysteme für sicheren ITK-Betrieb</strong>
    <ul id="gesellschaften">
        <li> Australien - STULZ Australia Pty Ltd., Sydney</li>
        <li> China - STULZ Air Technology Systems (Shanghai) Co. Ltd.</li>
        <li>Deutschland - STULZ GmbH, Hamburg (Firmenzentrale)</li>
        <li>Frankreich - STULZ France S.A.R.L., Croissy-sur-Seine</li>
        <li>Großbritannien - STULZ UK Ltd., Epson, Surrey</li>
        <li>Indien - STULZ-CHSPL (INDIA) Pvt. Ltd., Mumbai</li>
        <li>Italien - STULZ SpA, Valeggio sul Mincio</li>
        <li>Neuseeland - STULZ New Zealand Ltd., Auckland</li>
        <li>Niederlande - STULZ Groep B.V., Amstelveen</li>
        <li>Polen - STULZ Polska Sp. Z.o.o, Warschau</li>
        <li>Spanien - STULZ Espana, S.A., Madrid</li>
        <li>Südafrika - STULZ South Africa (Pty) Ltd.</li>
        <li>USA - STULZ Air Technology Systems Inc., Frederick, Maryland</li>
    </ul>
    <img class="rounded" src="https://www.montaplast.com/fileadmin/_processed_/csm_STULZ_Grafik_Rechenzentrum_0908_cbcc76d618.jpg"  />
    <hr />
    <strong>Montaplast GmbH, Kunststoff-Systeme für die Automobilindustrie</strong>
    <ul id="gesellschaften">
        <li> Deutschland - Montaplast GmbH, Morsbach (Firmenzentrale)</li>
        <li> Großbritannien - Montaplast Sales Office, London</li>
        <li>Indien - Montaplast India Ltd., Mumbai</li>
        <li> China - Montaplast Automotive System (SIP) Co., Ltd., Suzhou</li>
        <li> China - Montaplast Automotive System (Tianjin) Co., Ltd., Tianjin</li>
        <li> Japan - Montaplast of Japan Ltd., Nagoya</li>
        <li> Thailand - Montaplast Automotive System Co., Ltd., Bangkok</li>
        <li>USA - Montaplast of North America Inc., Frankfort, Kentucky</li>
        <li> USA - Sales & Engineering Office Detroit, Michigan</li>
        <li> Mexico - Montaplast Automotive Systems Mexico S. de R.L. de C.V., San Pablo, Querétaro </li>
        <li>Brasilien - Montaplast do Brasil Ltda., Guarulhos SP </li>
        <li>Montaplast South Africa (Pty) Ltd., Jet Park Boksburg Gauteng  </li>
    </ul>
</section>
<br />
<footer id="footer">
    <a href="#"> &copy; 2009-2016 Montaplast GmbH </a>|<a href="#">info (at) montaplast.com</a>  | <a href="/impressum" target="_blank">Impressum</a>
    |<a href="/daten" target="_blank"> Datenschutz</a> 

</footer>


@code {

}
