@page "/impressum"

<style>

 
    #logo {
        width: 295px;
        height: 70px;
        margin-bottom: 50px;
        padding: 0;
        margin: 0;
    }
    #footer {
        width: 100%;
        height: 70px;
        background-color: green;
        color: white;
        text-align: center;
        padding: 20px;
        border-radius: 5px;
        font-family: 'Fira Sans', sans-serif;
        margin-top: 50px;
    }

    .down {
        color: white;
        text-decoration: none;
    }

        .down:hover {
            text-decoration: underline;
            color: white;
        }
    p{
        margin-top:50px;
    }
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        color: green;
        margin-top: 25px;
    }
    
</style>
<header>
    <img id="logo" src="https://th.bing.com/th/id/R.b5baaa940d6a2b16ab49de45ef8a45d1?rik=VJoMj2No9OeJ6g&riu=http%3a%2f%2fsar-anlagenbau.de%2fwordpress%2fwp-content%2fthemes%2fagency%2fthemify%2fimg.php%3fsrc%3dhttp%3a%2f%2fsar-anlagenbau.de%2fwordpress%2fwp-content%2fuploads%2fmontaplast.gif%26w%3d670%26h%3d&ehk=Ujue7pkoRRJE8m9Qcki%2bs9NFyHFH5Qp7r14H3lXAZcE%3d&risl=&pid=ImgRaw&r=0" />
</header>
<section class="text">
    <h1>Impressum</h1>

    <p>Die Montaplast GmbH freut sich auch Ihren Besuch auf dieser Webseite und Ihr Interesse an unserem Unternehmen</p>

    <h3>Angaben zum Dienstanbieter gem. § 5 TMG </h3>
    <strong>Montaplast GmbH</strong>
    <table align="center">
        <tr><td>Krottendorfer Straße 25</td></tr>
        <tr><td>51597 Morsbach</td></tr>
        <tr><td>Deutschland</td></tr>
    </table>
    <br />
   <p> <strong>
        Geschäftsführung <br />
    </strong>
    Vertreten duch die Geschäftsführung: Christian A. Stulz, Frank Schlieber, Wolfgang Bender</p>

    <table align="center">
        <tr><td>Telefon</td> <td>+49 (0)2294 691-0</td></tr>
        <tr><td>Telefax</td> <td>+49 (0) 2294 691 1109</td></tr>
        <tr><td>E-Mail</td><td>info(at)montaplast.com</td></tr>
        <tr><td>Webseite</td> <td><a href="#">www.montaplast.com</a></td></tr>
    </table>

    <p>
        Handelsregister beim Amtsgericht Siegburg, Nr. HRB 7413 <br />
        Umsatzsteueridentifikationsnummer: DE 811 207 232
    </p>

    <h3>Verlinkungen auf fremde Webseiten</h3>

    <p>
        Montaplast GmbH ist als Inhaltsanbieter nach § 7 Abs. 1 TMG für die „eigenen Inhalte“, die auf www.montaplast.com <br />
        zur Nutzung bereitgehalten werden, nach den allgemeinen Gesetzen verantwortlich. Diese Webseite enthält allerdings auch Verlinkungen <br />
        zu Webseiten Dritter, deren Inhalte nicht von uns erstellt wurden. Diese fremden Inhalte wurden bei der erstmaligen Link-Setzung daraufhin überprüft,<br />
        ob durch sie eine mögliche zivilrechtliche oder strafrechtliche Verantwortlichkeit ausgelöst wird. Wir haben jedoch keinen Einfluss auf Veränderungen<br />
        und Aktualisierungen sowie Gestaltung und Inhalt der verlinkten Webseiten und prüfen Verlinkungen nicht ständig auf Veränderungen.<br />
        Sollten Sie der Meinung sein, auf den verlinkten Webseiten rechtswidrige Inhalte entdeckt zu haben, bitten wir um umgehende Mitteilung <br />
        unter Benennung des Links an webmaster@montaplast.com, so dass wir die Prüfung und Entfernung des entsprechenden Links auf unserer Webseite <br />
        veranlassen können.
    </p>
</section>
<footer id="footer">
    <a href="#" class="down"> &copy; 2009-2016 Montaplast GmbH </a>|<a href="#" class="down">info (at) montaplast.com</a>  | <a href="/impressum" class="down" target="_blank">Impressum</a>
    |<a href="/daten" class="down" target="_blank"> Datenschutz</a> 
</footer>
@code {

}
