@page "/"

<style>
    header {
        background-color: white;
        margin-top: 0;
        margin-bottom: 2vw;
    }

    #logo {
        width: 295px;
        height: 70px;
        margin-bottom: 3vw;
        padding: 0;
        margin: 0;
        background-color: white;
    }

    img {
        text-align: center;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    #philosophie {
        display: block;
        width: 100%;
        height: auto;
        text-align: center;   
        float: left;
    }

    #geschichte {
       margin-top:25px;
       width:70%;
       float:left;
   
      
       
    }

    .table-responsive {
        margin-top: 2vw;
        text-align: center;
    }

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        color: green;
    }

    #footer {
        width: 100%;
        height: 70px;
        background-color: green;  
        color: white;
        text-align: center;
        padding: 20px;
        border-radius: 5px;
        font-family: 'Fira Sans', sans-serif;
        margin-top: 50px;       
    }

    a {
        color: white;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
            color: white;
        }

    .parallax {
       
        /* The image used */
        background-image: url("https://www.montaplast.com/fileadmin/media/kopfbilder/keyvisual_unternehmen2.jpg");
        /* Set a specific height */
        min-height: 300px;
        background-size:auto;
        /* Create the parallax scrolling effect */
       
        background-position: center;
        background-repeat: no-repeat;
       
    }
    
    .parallax2 {
   
        /* The image used */
        background-image: url("https://www.montaplast.com/fileadmin/media/kopfbilder/keyvisual_3d_mobil3.jpg");
        /* Set a specific height */
        min-height: 300px;
         margin-top:50px;
        background-size:auto;
        /* Create the parallax scrolling effect */
       
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;
    }
    .img{
        border-radius:5px;
       margin-left:50px;
        margin-top:120px;
        min-height:150px;
        width: auto;
    }    
    #stulz{
        float:right;
        border: 1px hidden;
        border-radius: 5px;
        margin-top:-250px;
    }
</style>

<header>
    <img id="logo" src="https://th.bing.com/th/id/R.b5baaa940d6a2b16ab49de45ef8a45d1?rik=VJoMj2No9OeJ6g&riu=http%3a%2f%2fsar-anlagenbau.de%2fwordpress%2fwp-content%2fthemes%2fagency%2fthemify%2fimg.php%3fsrc%3dhttp%3a%2f%2fsar-anlagenbau.de%2fwordpress%2fwp-content%2fuploads%2fmontaplast.gif%26w%3d670%26h%3d&ehk=Ujue7pkoRRJE8m9Qcki%2bs9NFyHFH5Qp7r14H3lXAZcE%3d&risl=&pid=ImgRaw&r=0" />   
</header>
<article>
    <section id="willkommen">
        <h1>Herzlich Willkommen </h1>
        <p>
            Moderne Autos benötigen ganzheitliche System-Lösungen. Wir finden sie.<br />
            Das Herz aller Systeme „Made by Montaplast“ sind dabei seit fünf Jahrzehnten hochwertige Kunststoffteile
        </p>
    </section>
    <div class="parallax"></div>
   
    <section id="philosophie">

        <p>
            <h4>Unsere Unternehmensohilosophie</h4><br />
            Wer vorausdenkt, gewinnt
            Unser Prinzip heißt: Erst denken, dann handeln.
            Von Anfang an das richtige Produkt zu entwickeln spart Kosten und Zeit.
            Die Automobilindustrie ist auf der Beschleunigungsspur.
            Während sich die Palette der Modelle und Varianten stark verbreitert,
            werden die Produktzyklen und Entwicklungszeiten immer kürzer.
            Doch die Qualität darf darunter nicht leiden.
            Auf diese Herausforderung haben wir unsere eigene,
            Montaplast-typische Antwort gefunden:
            Bei der Bearbeitung einer Anfrage startet der Projektleiter sofort das Projektmanagement:
            Aufgaben werden definiert, Verantwortlichkeiten verteilt, Termine festgelegt,
            Meilensteine platziert und ein Projektteam zusammengestellt.
            Das Team ist ein Querschnitt aller Montaplast-Abteilungen -
            von der Entwicklung über die Kalkulation und die Fertigung bis hin zum Technischen Einkauf.
            So lassen sich schnell und präzise die wichtigen Fragen klären: Welche Funktionen muss das Produkt erfüllen?
            Welche Komponenten und Werkzeuge sind erforderlich? Und was wird es letztlich kosten?

            "Zeit ist Geld" - ein alter Spruch, der nie zutreffender war als heute.
            Im System Montaplast bedeutet er: Wer unnötige Schleifen vermeidet und gleich in die richtige Richtung fährt,
            kommt schneller und günstiger ans Ziel.
            <br />
        </p>

    </section>

    <section >
        <div id="geschichte">
            <h4>Aus dem Oberbergischen in die Welt</h4><br />
            <h5>Geschichte und Entwicklung eines besonderen Familienunternehmens</h5>

            1959 von Albert Stulz sr. in Morsbach (Oberbergischer Kreis) gegründet,<br />
            steht das mittelständische Unternehmen Montaplast für inzwischen fünf<br />
            Jahrzehnte Erfahrung in der Fertigung von Kunststoff-Präzisionsteilen<br />
            und -Systemen - zunächst für Haushaltsgeräte, heute für die Automobilindustrie.<br />

            Als 1992 in Frankfort, Kentucky, die Montaplast of North America, Inc. <br />
            gegründet wurde, ging das Familienunternehmen in eine neue, expansive Phase.<br />
            Inzwischen gehören Verkaufsniederlassungen und Entwicklungsbüros in Detroit,<br />
            Suzhou, Nagoya, London, Paris, Stuttgart, München und Köln zu Montaplast.<br />
            Im Jahr 2006 kam ein dritter Fertigungsstandort hinzu: die Montaplast Automotive System (SIP) Co.,<br />
            Ltd. in Suzhou bei Shanghai.<br />
        </div>
    </section>
    <aside>
       <img src="https://www.montaplast.com/fileadmin/_processed_/csm_morsbach_3468_gr_4743375479.jpg" class="img" alt="Unser Startgebäude"/> 
    </aside>
</article>
<div class="parallax2"></div>


<div class="table-responsive">
    <table class="table caption-top">
        <caption><h4>Geschichte</h4> </caption>
        <thead>
        <th scope="col">Jahr</th>
        <th scope="col">Ereignis</th>
        </thead>
        <tr>
            <td> 1959</td>
            <td>
                Firmengründung durch Herrn Albert Stulz sen.
                Fertigung von Bauteilen für Haushaltsgeräte

                Aufbau des Werkzeugbaus und des Extrusionsverfahrens
            </td>
        </tr>
        <tr>
            <td>1968</td>
            <td>
                Vibrationsschweißen an Kunststoffteilen
            </td>
        </tr>
        <tr>
            <td>1979</td>
            <td>Einstieg in die Schmelzkerntechnik</td>
        </tr>
        <tr>
            <td>1980</td>
            <td>Inbetriebnahme der ersten Lackieranlage</td>
        </tr>
        <tr>
            <td> 1985</td>
            <td>Einführung von CAD- und CAM-Systemen</td>
        </tr>
        <tr>
            <td>1990</td>
            <td>Serienanlauf des ersten Kunststoff-Ansaugrohres in Schmelzkerntechnik für Porsche</td>
        </tr>
        <tr>
            <td>1992</td>
            <td>Eröffnung des Sales and Engineering Office in Detroit</td>
        </tr>
        <tr>
            <td> 1993 </td>
            <td>	Gründung der Montaplast of North America, Inc. in Frankfort, Kentucky </td>
        </tr>
        <tr> <td>1999</td>	<td>Eröffnung des Technologiezentrums am Hauptsitz in Morsbach</td> </tr>
        <tr>
            <td> 2006</td>
            <td>Gründung der Montaplast Automotive System (SIP) Co., Ltd. in Suzhou, China</td>
        </tr>
    </table>
   
  


</div>
<footer id="footer">
    <a href="#"> &copy; 2009-2016 Montaplast GmbH </a>|<a href="#">info (at) montaplast.com</a>  | <a href="/impressum" target="_blank">Impressum</a>
    |<a href="/daten" target="_blank"> Datenschutz</a> 

</footer>