@page "/technik"


<style>
    #logo {
        width: 295px;
        height: 70px;
        margin-bottom: 50px;
        padding: 0;
        margin: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        color: green;
        margin-top:25px;
    }

    #lab {
        border: 1px hidden;
        border-radius: 5px;
        margin-right: 100px;
    }

    #footer {
        width: 100%;
        height: 70px;
        background-color: rgb(36, 184, 52);
        color: white;
        text-align: center;
        padding: 20px;
        border-radius: 5px;
        font-family: 'Fira Sans', sans-serif;
        margin-top: 50px;
    }

    a {
        color: white;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
            color: white;
        }
        strong{
            text-align:center;
        }
    .img-fluid{
        margin-bottom: 50px;
    }
    .tables{
        margin-top:50px;
    }
    #mid{
        text-align:center;
    }
</style>
<header>
    <img id="logo" src="https://th.bing.com/th/id/R.b5baaa940d6a2b16ab49de45ef8a45d1?rik=VJoMj2No9OeJ6g&riu=http%3a%2f%2fsar-anlagenbau.de%2fwordpress%2fwp-content%2fthemes%2fagency%2fthemify%2fimg.php%3fsrc%3dhttp%3a%2f%2fsar-anlagenbau.de%2fwordpress%2fwp-content%2fuploads%2fmontaplast.gif%26w%3d670%26h%3d&ehk=Ujue7pkoRRJE8m9Qcki%2bs9NFyHFH5Qp7r14H3lXAZcE%3d&risl=&pid=ImgRaw&r=0" />
</header>

<h1> Unsere Technologien</h1>
<section>
    <h4>Simulation & Erprobung</h4>

    <p>
        Simulation und Erprobung gehen bei uns Hand in Hand.

        Unsere Wentwicklungsingenieure nutzen von Anfang an due Vorteile der numerischen Simulation
        und tauschen dabei sich ständig mit unseren Prüf- und Versuchslaboren aus,
        damit Versuchsergebnisse direkt in optimierte Prozesse einfließen können.
    </p>
    <img id="lab" class="rounded float-end" src="https://www.montaplast.com/fileadmin/_processed_/csm_img_9947_ccb5b2a5ae.jpg" />
    <img class="rounded float-start" src="https://www.montaplast.com/fileadmin/_processed_/csm_img_9967_ret_e237e840c6.jpg" />
    <br />
    <h4>Simulation</h4>
    <p>

        Die Produktentwickler stellen die geforderten Funktionen in Simulationen dar und suchen von Beginn an potenzielle Schwachstellen.<br />
        Dass 3D-Simulationen zunehmend den Prototyp zum Anfassen ersetzen, hat Vorteile: Zeit und Entwicklungskosten werden gespart. <br />
        Der Nachteil: Auch Fehlerquellen müssen simuliert und ausgeschaltet werden - aber auch darauf ist Montaplast spezialisiert,<br />
        denn wir führen unter anderem folgende Analysen durch:
    </p>
    <table align="center">
        <tr><td>Rheologie (Werkzeugfüllung, Temperierung, Bauteilverzug)</td></tr>
        <tr><td>Statik (Steifigkeit, Festigkeit, Hot Spots)</td></tr>
        <tr><td>Dynamik (Kopfaufschlag, Fußgängerschutz, AZT)</td></tr>
        <tr><td>Strömung (Akustik, Ladungswechsel, Luftfiltration, Wasserseparation)</td></tr>
        <tr><td>Nutzung der Methoden der statistischen Versuchsplanung</td></tr>
    </table>
    <section id="mid">
        <h4>Erprobung</h4>
        <p>
            Erst Versuche an Prototypen verleihen jedem Simulationsmodell die notwendige Realität <br />
            und legen die Material-, Funktions- und Lebensdauerbelastungen fest.<br />
            In allen Entwicklungsstadien  prüfen wir die geforderten Eigenschaften des Produktes. <br />
            Zu unserer Versuchspalette gehören unter anderem folgende Punkte<br />
        </p>
    </section>
    <table align="center">
        <tr><td>Gesetzliche Anforderungen (Kopfaufschlag, Fußgängerschutz, Emissionen)</td></tr>
        <tr><td>Umfeldbedingungen (Temperatur, Klima, Berstdruck, Vibration)</td></tr>
        <tr><td>Funktionsprüfungen (Dauerlauf, Missbrauch, Motoren- und Fahrtests)</td></tr>
        <tr><td>Akustik (Modalanalysen)</td></tr>
    </table>
</section>
<section>
    <h4>Design & Engineering </h4>

    <h5>Moderne Autos brauchen ganzheitliche Systemlösungen. Wir finden sie.</h5>
    <p>
        Automobilzulieferer - vor nicht allzu langer Zeit war das eine eher überschaubare Aufgabe.<br />
        Im Fall von Montaplast bedeutete es: Wir entwarfen und produzierten hochwertige Kunststoffteile.<br />

        Heute ist mehr gefragt, und so kann das System Montaplast seine Flexibilität voll ausspielen.<br />
        Einen Bauraum und ein Anforderungsprofil - mehr brauchen wir nicht, um in Eigenverantwortung die optimale Systemlösung zu finden.<br />
        Gilt es etwa, ein neues Ansaugrohr zu entwickeln, sorgt Montaplast auch dafür, dass alle Grundlagen zur Erfüllung der EU-Abgasnormen gelegt werden.<br />
        Bei Stoßfängern oder Kotflügeln wird die Gesetzgebung zum Fußgängerschutz einbezogen. <br />
        Interieurteile werden für die verschiedensten Unfallsituationen ausgelegt.<br />
        Wir entwickeln, simulieren und validieren komplette Baugruppen, integrieren Zukaufteile,<br />
        konzipieren Montageschritte und -vorrichtungen, konfektionieren die Module, veredeln die Oberflächen und entwickeln das passende Logistik-Konzept.<br />

        All das ist heute Montaplast. Das Herz aller Systeme "Made by Montaplast" sind dabei nach wie vor qualitativ hochwertige Kunststoffteile.
    </p>
    <strong> CaD- Systeme</strong>
    <table align="center">

        <tr><td>CATIA V4/V5</td></tr>
        <tr><td>Unigraphics</td></tr>
        <tr><td>I-DEAS</td></tr>
        <tr><td>Pro-Engineer</td></tr>
        <tr><td>AutoCAD</td></tr>
    </table>
</section>
<br />
<section id="prototypes">
    <strong> Rapid Prototyping</strong>
    <table align="center">

        <tr><td>Lasersintern</td></tr>
        <tr><td>Stereolithografie</td></tr>
        <tr><td>Protoypenwerkzeuge aus Aluminium oder Gießharz</td></tr>
        <tr><td>Gießharzwerkzeuge</td></tr>
        
    </table>
    <br />
</section>
<section>
    <h4>Produktion aus einem Guss</h4>
    <br />
    <img src="https://www.montaplast.com/fileadmin/media/kopfbilder/keyvisual_halter2.jpg" class="img-fluid" />
    <br />
    <strong>Spritzguss, Schweißen, Konfektion -hohe Innovationsbereitschat sichert Montaplast Wettbewerbsvorteile</strong>
    <p>
        "Immer auf dem neuesten Stand der Entwicklung sein" - diesem Leitsatz von Albert Stulz sr. folgend, <br />
        gehört Montaplast seit langem zur Weltspitze in der Spritzguss-, Schalen-, Schweiß- und Lackiertechnik.
    </p>
    <p>
        Ein Beispiel: das Schmelzkernverfahren. Die Technik, Metallkerne mit Kunststoff zu umspritzen, <br />
        entdeckten wir Mitte der 80er-Jahre in der Sportartikelindustrie und machten sie für die Serienproduktion von Porsche-Ansaugrohren nutzbar.<br />
        Das Verfahren wurde seitdem laufend perfektioniert und spielt noch heute eine wichtige Rolle bei Montaplast.<br />
        Daneben gehören Mehrkomponenten-, Funktions-, Montage-Spritzguss, hoch entwickelte Verfahren der Schalentechnik,<br />
        Gas-Innendruck- Verfahren oder das Hinterspritzen von Folie, Textil und Leder zu unserem Leistungsspektrum, <br />
        ebenso wie die Verbindung verschiedener Materialien durch Ultraschall- oder Vibrationsschweißen.<br />
    </p>

</section>
<section>
    <h4>Unser Werkzeugbau</h4>
    <br />
    In Montaplast-eigenen Werkzeugbau entstehen passende Formen für<br />
    Prototypen und Serienfahrzeuge, wobei alle Schritte von Rechnern<br />
    gesteuert und überwacht werden und computergesteuerte CNC-Werkzeugmaschienen <br />
    komplizierte komplizierte Konturen einarbeiten. Die 3D-Geometrie-Daten aus der Entwicklung<br />
    werden hierbei online in NC-Programme für Werkzeuge und Modelle umgesetzt.<br />
    Know-how-intensive Werkzeuge stellen wir selbst in unserem Werkzeugbau her<br /> 
    und entwickeln hierfür die erforderliche Fertigungstechnik.<br />

</section>
<section class="tables">
    <strong>Spritzguss</strong>
    <table align="center">
        <tr><td>Mehrkomponentenspritzguss (2K, 3K)</td></tr>
        <tr><td>Folien- und Textilhinterspritzung (IMD)</td></tr>
        <tr><td>Funktionsspritzguss</td></tr>
        <tr><td>Montagespritzguss (MID)</td></tr>
        <tr><td>Hybridtechnologie</td></tr>
        <tr><td>Spritzprägen</td></tr>
        <tr><td>GID/WIT</td></tr>
        <tr><td>Schmelzkerntechnik</td></tr>
    </table>
</section>

<section class="tables">
    <strong>Verbindungstechniken</strong>
    <table align="center">
        <tr><td>Vibrationsverschweißung</td></tr>
        <tr><td>Ultraschallverschweißung</td></tr>
        <tr><td>Spiegelschweißen</td></tr>
        <tr><td>Kleben</td></tr>
    </table>
</section>
<section class="tables">
    <strong>Konfektion</strong>
    <table align="center">
        <tr><td>Kaschieren</td></tr>
        <tr><td>Laser-, Ultraschall- und Handbeschnitt</td></tr>
        <tr><td>Ultraschall-Prägung und -Stanzung</td></tr>
        <tr><td>Bedrucken (Heißprägen, Tampoprinten)</td></tr>
        <tr><td>Schweißen</td></tr>
        <tr><td>Kleben</td></tr>
    </table>
</section>
<section class="tables">
    <strong>Oberflächenveredelung</strong>
    <table align="center">
        <tr><td>Lackieren mit Wasserbasislacken, PA, PP, PC und PC-ABS</td></tr>
        <tr><td>Lackier-Flächenenautomaten</td></tr>
        <tr><td>Lackierstrassen mit bis zu 24 Lackier-Robotern</td></tr>
        <tr><td>Galvanisieren</td></tr>
    </table>
</section>
<footer id="footer">
    <a href="#"> &copy; 2009-2016 Montaplast GmbH </a>|<a href="#">info (at) montaplast.com</a>  | <a href="/impressum" target="_blank">Impressum</a>
    |<a href="/daten" target="_blank"> Datenschutz</a> 

</footer>

@code {

}
